@using System.Web.Mvc.Html
@model IEnumerable<RedChess.WebEngine.Models.UserProfile>

@{
    ViewBag.Title = "New game";
}

<h2>New game</h2>

@using (Html.BeginForm("Create", "Board", FormMethod.Post, new { id = "createForm", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="form-group">
            <label for="Opponent">Opponent</label>
            @Html.DropDownList("Opponent", Model.Select(x => new SelectListItem {Text = x.UserName, Value = x.UserId.ToString()}), new {@class = "form-control"})
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="PlayAsBlack" value="true"/>Play as black</label>
        </div>
        <div class="checkbox">
            <label><input id="UseClock" type="checkbox" name="UseClock" value="true"/>Use clock</label>
        </div>
        <div class="form-group" id="TimeLimitGroup">
            <label for="TimeLimit">Time limit (minutes)</label>
            <input type="number" min="1" max="180" class="form-control" id="TimeLimit" name="TimeLimit" disabled>
        </div>
        <div data-valmsg-summary="true" class="validation-summary-valid">
            <ul>
                <li style="display: none"></li>
            </ul>
        </div>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" id="submitbutton">Create</button>
        <button type="button" class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
    </div>
}

<script>
    $(document).ready(function() {
        $("input#UseClock").change(function (data) {
            if (this.checked) {
                $("input#TimeLimit").removeAttr("disabled");
            }
            else {
                $("input#TimeLimit").attr("disabled","");
            }
        });
        
        $("button#submitbutton").click(SubmitForm);
    });

    function SubmitForm() {
        $("form#createForm").submit();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
