@model Chess.Models.LoginModel

<div class="row">
    <h2 class="col-lg-3">Log in</h2>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="well">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" id="loginName" name="userName"/>
                        </div>

                        <div class="input-group">
                            <input class="form-control" placeholder="Password" id="password" name="Password" type="password"/>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true" id="RememberMe" name="RememberMe">
                                    Remember&nbsp;me
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="input-group" >
                        <input type="submit" value="Log in" id="submitbutton" class="btn btn-default" />
                    </div>

                    <div data-valmsg-summary="true" class="validation-summary-valid">
                        <ul>
                            <li style="display: none"></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>