@model Chess.Models.LoginModel
@{
    ViewBag.Title = "Redchess";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<script>
    function ShowRegister() {
        $("div#login").hide();
        $("div#register").show();
        var link = $("a#showRegister");

        link.text("Log in");
        link.off("click");
        link.click(ShowLogin);
    }

    function ShowLogin() {
        $("div#register").hide();
        $("div#login").show();
        var link = $("a#showRegister");

        link.text("Sign up");
        link.off("click");
        link.click(ShowRegister);
    }

    $(document).ready(function () {
        var link = $("a#showRegister");
        link.click(ShowRegister);
    });
</script>

<div id="main-content" class="container">
    <div class="col-lg-2">
        <div id="login">
            @Html.Partial("_Login")
        </div>
        <div style="display: none" id="register">
            @Html.Partial("_Register")
        </div>
        <p>First time here? <a id="showRegister" href="#">Sign up</a>
</div>
</div>

