@model Chess.Models.LoginModel
@{
    ViewBag.Title = "Redchess";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

@if (@User.Identity.IsAuthenticated)
{
    <script>window.location.href = "/Board"</script>
}

<div id="login">
    @Html.Partial("_Login")
</div>



