@model Chess.Models.LoginModel
@{
    ViewBag.Title = "Redchess";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<script>
    function ShowRegister() {
        $("div#login").hide();
        $("div#register").show();
    }

    function ShowLogin() {
        $("div#register").hide();
        $("div#login").show();
    }
</script>

<div id="main-content" class="container">
    <div class="col-lg-2">
        <div id="login">
            @Html.Partial("_Login")
            <p>First time here? <a class="menuaction" id="showRegister" href="javascript:ShowRegister()">Sign up</a>
            </p>
        </div>
        <div style="display: none" id="register">
            @Html.Partial("_Register")
            <p>First time here? <a class="menuaction" id="showLogin" href="javascript:ShowLogin()">Log in</a>
            </p>
        </div>
    </div>
</div>

