@model Chess.Models.LocalPasswordModel

<script>
    // Catch the submit button and blank the cached avatar URL in case the user has changed their email address
    $(document).ready(function () {
        $("#submitbutton").click(
            function () {
                if (typeof (Storage) !== "undefined") { // Do we have local storage capability?
                    localStorage.removeItem("AvatarUrl");
                }
            });
    });
</script>

<div class="row">
    <h3 class="col-lg-3">Change details</h3>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {id = "changePasswordForm"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="well">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Current password" id="oldPassword" name="oldPassword"/>
                        </div>

                        <div class="input-group">
                            <input class="form-control" placeholder="New password" id="newPassword" name="newPassword" type="password"/>
                        </div>

                        <div class="input-group">
                            <input class="form-control" placeholder="Confirm password" id="confirmPassword" name="confirmPassword" type="password"/>
                        </div>

                        <div class="input-group">
                            <input class="form-control" placeholder="Email address (for avatar)" id="Email" name="Email" type="email" />
                        </div>
                    </div>

                    <div class="input-group" >
                        <input type="submit" value="Save changes" id="submitbutton" class="btn btn-primary" />
                    </div>

                    <div data-valmsg-summary="true" class="validation-summary-valid">
                        <ul>
                            <li style="display: none"></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>