@model Chess.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change password";
}

<div id="main-content" class="container">  <section>
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}