@model Chess.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change password";
}

  <section>
      @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
  </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}