div.lockIcon {
    position:absolute;
    height:128px;
    width:128px;
    background-repeat: no-repeat;
    background: url("/Images/lock.png");
    z-index: 1;
    opacity: 0.7;
    display: inline-block;
}

#changePasswordForm input[type=submit] {
    margin-bottom: .8em;
}

.tinier {
    font-size: smaller
}

#main-content {
    min-height: 400px;
    text-align: center;
}

table.monospace-table>tbody>tr>td {
    font-family: monospace;
    font-size: smaller;
}

.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.validation-summary-errors {
    color: red;
    list-style: none;
    width: 220px;
    font-size: .8em;
}

.validation-summary-errors ul{
    padding: 0 !important;
    margin: 0 !important;
}

#unauthorized {
    margin: 3em 0;
    text-align: center;
}

    #unauthorized ul {
        list-style: none;
        padding: 0;
        margin: 3em 0;
    }

    #unauthorized li {
        display: inline-block;
        padding: 6px 20px;
        background-color: #dedede;
        border: 1px solid gray;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        #unauthorized li:first-child {
            margin-right: 2em;
        }

footer {
    clear: both;
    margin: 5em 5em .7em 0;
}

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        text-align: center;
        clear: both;
    }
}

.highlight-white {
    -webkit-box-shadow: inset 0 0 3px 3px yellow;
    -moz-box-shadow: inset 0 0 3px 3px yellow;
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
    -webkit-box-shadow: inset 0 0 3px 3px blue;
    -moz-box-shadow: inset 0 0 3px 3px blue;
    box-shadow: inset 0 0 3px 3px blue;
}

.nofill-line {
    fill: none;
}

.x-axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.x-axis path {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}