@{
    ViewBag.Title = "Stats";
}

@section Head
{
    @Scripts.Render("~/bundles/stats")
}

<h2>Stats</h2>

<div class="container">
    <table class="table" id="winloss-points-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <h6>x-axis : length of game in moves. y-axis : piece count at end of game</h6>
    <div id="vis"></div>
    <!--
    <table class="table" id="winloss-table">
        <thead>
        <tr>
            <th>White</th>
            <th>Black</th>
            <th>Winner</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    -->
    <h5>Elo ratings in 5 minute games</h5>
    <table class="table" id="ratings-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Elo</th>
            <th>+/-</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="svg">
    </div>

    <p>
        Elo ratings updated <time class="timeago" id="last-updated" datetime="">...</time>
    </p>
</div>

<script>
    $(document).ready(function() {
        onDocumentReady();
    });
</script>
