#board {
    width : 512px;
    height : 512px;
}

.left {
 float : left;   
}

span.buttonright {
   float:right;
    padding-right:15px 
}

textarea {
    width:100%;
    resize:none;
    overflow:auto; 
}

.first {
    border-top:thin solid #cecece;    
}

.movenumber {
    text-align : right;
    padding-right : 12pt;
}

table#moves td {
       padding-right : 12pt; 
}

table#analysisMoves td {
       padding-right : 12pt; 
}

.title {
    font-family : arial;
    width : 100%;
    text-align: center;
}

.navigation {
    height : 32px;
    margin-left : 2px;
    margin-top : 5px;
}

.right {
    margin : 10px;
    float: right;
    font-family : sans-serif;
}

.mate {
    background-color : lightcoral
}

.highlightText {
    font-weight : bold;
}

.button {
    width : 32px;
    height : 32px;
    display:inline-block;
    background-repeat: no-repeat;
}

/* A css trick for making mouseovers have an effect on the buttons' opacity '*/

.wrapper {
    background-color : black;
    opacity : 0.7;
    z-index : 0;
}

/* The navigation buttons */

.button#goStart {
    background: url("/Images/fast-rewind.png");
    float : left;
}

.button#goBack {
    background: url("/Images/arrow_left.png");
    float : left;
}

.button#goForward {
    background: url("/Images/arrow_right.png");
    float : right;
}

.button#goEnd {
    background:  url("/Images/fast-forward.png");
    float : right;
}

.button#goFlip {
    background:  url("/Images/flip.png");
    float : right;
}

.button#playFromHere {
    background:  url("/Images/crossed_swords.png");
    float : right;
}
